/* EX 1 */
.ex-1-square:hover {
    background-color: red;
}

.ex-1-square {
    transition: background-color 1s;
}


/* EX 2 */
.ex-2-square:hover {
    width: 100%;
}

.ex-2-square {
    transition: width 1s;
}


/* EX 3 */
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-3-square {
    transition: border-radius 1s;
}


/* EX 4 */
.ex-4-square:hover {
    opacity : 0;
}

.ex-4-square {
    transition: opacity 1s;
}


/* EX 5 */
.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 20px;
    height: 20px;
}

.ex-5-square {
    transition: width 1s, height 1s;
}


/* EX 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}


/* EX 7 */
.ex-7-img:hover {
    filter: sepia(1);
    filter: brightness(0.5);
    
}

.ex-7-img:hover{
    transition: filter 2s;
}


/* EX 8 */
.ex-8-img:hover {
    filter: contrast(50%);
    filter: blur(3px);
    border-radius: 30%;
}

.ex-8-img{
    transition: border-radius 2s, filter 2s;
}


/* EX 9 */
.ex-9-img:hover {
    filter: contrast(50%);
    filter: blur(3px);
    border-radius: 30%;
    width: 200px;
    height: 120px;
}

.ex-9-img{
    transition: border-radius 2s, width 3s, heigth 2s, filter 5s;
}

/* EX 10 */
.ex-10-icon{
    animation: 2s infinite linear rotation;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);        
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
}




/* EX 11 */
.ex-10-icon{
    animation: 2s infinite linear rotation;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);        
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

