/* EX 1 */
.ex-1-square:hover {
    background-color: red;
}

.ex-1-square {
    transition: background-color 1s;
}


/* EX 2 */
.ex-2-square:hover {
    width: 100%;
}

.ex-2-square {
    transition: width 1s;
}


/* EX 3 */
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-3-square {
    transition: border-radius 1s;
}


/* EX 4 */
.ex-4-square:hover {
    opacity : 0;
}

.ex-4-square {
    transition: opacity 1s;
}


/* EX 5 */
.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 20px;
    height: 20px;
}

.ex-5-square {
    transition: width 1s, height 1s;
}


/* EX 6 */
.ex-6-img:hover {
    filter: grayscale(100%);
}


/* EX 7 */
.ex-7-img:hover {
    filter: sepia(1);
    filter: brightness(0.5);
    
}

.ex-7-img:hover{
    transition: filter 2s;
}


/* EX 8 */
.ex-8-img:hover {
    filter: contrast(50%);
    filter: blur(3px);
    border-radius: 30%;
}

.ex-8-img{
    transition: border-radius 2s, filter 2s;
}


/* EX 9 */
.ex-9-img:hover {
    filter: contrast(50%);
    filter: blur(3px);
    border-radius: 30%;
    width: 200px;
    height: 120px;
}

.ex-9-img{
    transition: border-radius 2s, width 3s, heigth 2s, filter 5s;
}

/* EX 10 */
.ex-10-icon{
    animation: 2s infinite linear rotation;
}

@keyframes rotation{
    0%{
        transform: rotate(0deg);        
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(360deg);
    }
}




/* EX 11 */
.ex-11-icon:hover{
    animation: 2s linear rotation11;
}

@keyframes rotation11{
    0%{
        transform: rotate(0deg);        
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0deg);
    }
}



/* EX 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: 2s  linear to_right_12;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: 2s  linear to_left_12;
}


@keyframes to_right_12{
    0%{
        left:20%;
    }

    50%{
        left: 60%;
    }

    100%{
        left: 20%;
    }
}


@keyframes to_left_12{
    0%{
        right:20%;
    }

    50%{
        right: 60%;
    }

    100%{
        right:20%;
    }
}




/* EX 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: 2s  linear top_13;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: 2s  linear bottom_13;
}


@keyframes top_13{
    0%{
        left:10%;
        top: -10px;
    }

    20%{
        left: 90%;
        top: -10px;
    }

    40%{
        left: 90%;
        top: 55px;
    }

    60%{
        left: -20%;
        top: 55px;
    }

    80%{
        left: -20%;
        top: -10px;
    }

    100%{
        left: 10%;
        top: -10px;
    }
}


@keyframes bottom_13{
    0%{
        bottom: -10px;
        right: 20%;
    }

    20%{
        bottom: -10px;
        right: 85%;
    }

    40%{
        bottom: 55px;
        right: 85%;
    }

    60%{
        bottom: 55px;
        right: -20%;
    }

    80%{
        bottom: -10px;
        right: -20%;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}